{% extends 'news/base.html' %}
{% load static %}

{% block title %}
{{ category.name }} delete
{% endblock title %}


{% block content %}
<div style="margin: 20px; padding-top: 20px;">
    <h2>O'chirishni tasdiqlash</h2>
    <br>
    <h4>{{ category.name }} nomli kategoriyani o'chirishni istaysizmi?</h4>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-success" name="submit" value="yes">Tasdiqlayman</button>
      <a class="btn btn-danger" href="{% url 'admin_page' %}">Yo'q</a>
    </form>
</div>

{% endblock content %}