{% extends 'news/base.html' %}
{% load hitcount_tags %}

{% block title %}
News detail
{% endblock title %}

{% block content %}

        <div class="card" style="width: 70%; margin-left: 180px;">
            <img src="{{ news.images.url }}" alt="Image Description" style="max-height: 500px;">
            <div class="card-content">
                <h2 style="font-size: 25px;">{{ news.title }}</h2>
                <p style="font-size: 15px;">{{ news.body }} {% get_hit_count for news %}</p>
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <a href="{% url 'news_update' news.slug %}">Update</a>
                <a href="{% url 'news_delete' news.slug %}" style="background-color: red;">Delete</a>
                {% endif %}
            </div>
        </div> <br>
        <h4 style="margin-left:10px;"> Bu yangilikdagi izohlar soni: {{comment_count}}</h4>
        {% for comment in comments %}
        <div style="padding: 10px;">
            <p>
                <span class="font-weight-bold">User: </span>
                {{comment.user}} </p>
            <p>Created time:
            <span class="text-muted font-weight-normal">{{comment.created_time}}</span>
            </p>

            {{comment.body | linebreaks}}
        </div>
        {% endfor %}

        {% if request.user.is_authenticated %}
        <div class="col-md-8 card mb-4 mt-3">
            <div class="card-body">
                <h4>Izoh qoldirish</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary btn-lg">Yuborish</button>
                </form>
            </div>
        </div>
        {% endif %}


{% endblock content %}