{% extends 'news/base.html' %}
{% load static %}

{% block title %}
 Technalogy_news
{% endblock title %}


{% block content %}
        <table>
            {% for news_list in technalogy_news %}
            <tr>
                {% for news in news_list %}
                <th>
                    <div class="card">
                        <img src="{{ news.images.url }}" alt="Image Description">
                        <div class="card-content">
                            <h2>{{ news.title | truncatewords:3 }}</h2>
                            <p>{{ news.title }}</p>
                            <a href="{{ news.get_absolute_url }}">Learn More</a>
                        </div>
                    </div>
                </th>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

{% endblock content %}